html {
  text-align: center;
  font-family: Helvetica;
}

.header, .cutThroughBanner {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}

.header h1 {
  font-size: 70px;
  font-weight: bold;
}

.header nav {
  color: inherit;
  font-size: 18px;
}

.cutThroughBanner {
  font-size: 23px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
